header {
	height: 100vh;
	background: url(../img/main/intro-big.png) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
}
.logo-nav {
	height: 72px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
}
nav {
	display: flex;
	padding: 0 3em 0 0;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 0 1em;
}
.logo {
	width: 15em;
	height: 2.6em;
	padding: 1em 0 0 3em;
}
.logo a img {
	width: 100%;
	height: 100%;
}
.title-wrp {
	height: calc(100% - 140px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title-wrp .title {
	display: flex;
	justify-content: center;
}
.title {
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 8em;
}

.weare {
		background-color: white;
		display: flex;
		height: 60vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 3em 25%;
}
h4, h3, .weare p, .button a {
	text-align: center;
}
h4 {
	margin-top: 1em;
	text-transform: uppercase;
	color: #d4af37;
	font: 700 0.85em/2em Montserrat, sans-serif;
}
h3 {
	color: rgba(2, 23, 37, 0.5);
	font: 200 3.2em/1em Montserrat, sans-serif;
	padding: 15px 0;
}
.weare p {
	color: rgba(2, 23, 37, 0.5);
	font: 500 1em/1.8em Montserrat, sans-serif;
	padding: 2em 0;
}
.button {
		width: 250px;
		height: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(2, 23, 37, 0.5);
		border-radius: 4px;
}
.button a {
		color: rgba(2, 23, 37, 0.5);
		font: 300 0.9em/1em Montserrat, sans-serif;
}

/* We Do */
.wedo {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 4em 0;
}
.wedo ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 2em 0;
}
.wedo li {
		width: calc(25vw - 8px);
		height: 23vw;
		margin: 2px 0 2px 0;
		background-size: cover;
}
.port1 {background: url(../img/main/port1.png) no-repeat center top;}
.port2 {background: url(../img/main/port2.png) no-repeat center top;}
.port3 {background: url(../img/main/port3.png) no-repeat center top;}
.port4 {background: url(../img/main/port4.png) no-repeat center top;}
.port5 {background: url(../img/main/port5.png) no-repeat center top;}
.port6 {background: url(../img/main/port6.png) no-repeat center top;}
.port7 {background: url(../img/main/port7.png) no-repeat center top;}
.port8 {background: url(../img/main/port8.png) no-repeat center top;}


/* Team */
.team {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 3em 0;
}
.team > p {
	color: rgba(2, 23, 37, 0.5);
	font: 500 1em/1.8em Montserrat, sans-serif;
	text-align: center;
	padding: 2em 20vw;
}
.team ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-bottom: 4em;
			margin: 2em 0;
}
.team li {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 300px;
			margin-right: 5px;
}
.team1 {
		background: url(../img/main/portret1.png) no-repeat center top;
		background-size: cover;
		width: 100%;
		height: 250px;
}
.team2 {
		background: url(../img/main/portret2.png) no-repeat center top;
		background-size: cover;
		width: 100%;
		height: 250px;
}
.team3 {
		background: url(../img/main/portret3.png) no-repeat center top;
		background-size: cover;
		width: 100%;
		height: 250px;
}
.description {
	padding: 1em 1em;
	background-color: #f9f9f9;
}
.description h4 {
	text-transform: uppercase;
	color: #d4af37;
	font: 700 0.8em/1em Montserrat, sans-serif;
	text-align: left;
}
.description h5 {
	color: rgba(2, 23, 37, 0.5);
	font: 300 1.6em/2.5em Montserrat, sans-serif;
	text-align: left;
}
.description > p {
	color: black;
	font: 300 0.8em/1.6em Montserrat, sans-serif;
	text-align: left;
	padding-bottom: 2em;
}


/* Lastpost */
.lastpost {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3em 0;
}
.blogpost {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 2em 0;
}
.b_photo {
		background: url(../img/main/blog_photo.png) no-repeat center top;
		background-size: cover;
		width: 450px;
		height: 430px;
}
.post_content {
		width: calc(450px - 4em);
		height: calc(430px - 4em);
		background-color: #f9f9f9;
		padding: 2em 2em;
}
.post_date {
			text-transform: uppercase;
			color: rgba(2, 23, 37, 0.5);
			font: 700 0.8em/1.5em Montserrat, sans-serif;
			padding-bottom: 3em;
			text-align: left;
}
.post_title {
			color: rgba(2, 23, 37, 0.5);
			font: 100 2.5em/1em Montserrat, sans-serif;
			padding-bottom: 1.5em;
			text-align: left;
}
.post_text {
			color: black;
			font: 300 1em/1.8em Montserrat, sans-serif;
			padding-bottom: 3em;
			text-align: left;
}
.post_button {
		width: 150px;
		height: 2.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(2, 23, 37, 0.5);
		border-radius: 4px;
}
.post_button a {
		color: rgba(2, 23, 37, 0.5);
		font: 300 0.9em/1em Montserrat, sans-serif;
}
.lastpost .button {
		margin-top: 3em;
		margin-bottom: 6em;
}


/* Contacts */
.contacts {
	margin-bottom: 3em;
}
#map {
		margin: 2em 20vw 0;
		height: 400px;
		width: 60vw;
}
.undermap {
		height: 500px;
		width: 60vw;
		margin: 0 20vw;
		background-color: #f9f9f9;
}
.undermap ul {
	padding-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.undermap li {
		height: 220px;
		width: 29vw;
}
.undermap h5 {
		text-transform: uppercase;
		text-align: center;
		color: rgba(2, 23, 37, 0.6);
		font: 700 0.75em/8em Montserrat, sans-serif;
}
.undermap p {
		text-align: center;
		color: rgba(2, 23, 37, 0.6);
		font: 300 0.95em/2.3em Montserrat, sans-serif;
}


/* Footer */
footer {
	height: 92px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20vw;
}
footer p {
	color: black;
	font: 300 0.8em/1em Montserrat, sans-serif;
}



/* header_works */

.header_works {
	height: 50vh;
	background: url(../img/works/head_img.png) no-repeat center top;
	background-size: cover;
	margin-bottom: 5em;
}
.text_wedo {
	color: rgba(2, 23, 37, 0.5);
	font: 500 1em/1.8em Montserrat, sans-serif;
	padding: 2em 25%;
	text-align: center;
	margin-bottom: 5em;
}


/* header_projects */
.header_projects {
	height: 100vh;
	background: url(../img/projects/header_img.png) no-repeat center top;
	background-size: cover;
	margin-bottom: 5em;
}
.project1 {
	margin: 50px 70px;
  padding: 50px 60px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.noora {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 60px 0 0;
	width: calc(100vw - 30vw - 160px);
}
.project1 h2 {
	color: rgba(2, 23, 37, 0.5);
	font: 700 3em/1.8em Montserrat, sans-serif;
	padding: 5px 0 1.5em 0;
	text-align: left;
}
.noora p b {
	font: 700 1em/1.8em Montserrat, sans-serif;
}
.noora > p {
	color: rgba(2, 23, 37, 0.5);
	font: 500 1em/1.8em Montserrat, sans-serif;
	text-align: left;
	padding-bottom: 4em;
}
.noora_images {width: inherit;}
.noora_images ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.noora_images li {
	margin-bottom: 5px;
	width: 100%;
}
.noora_images img {
	width: 100%;
	height: auto;
}
.other_projects {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: calc(100vw - 70vw - 160px);
}
.other_projects ul {width: inherit;}
.other_projects li {
	margin-bottom: 5px;
	width: 100%;
}
.other_projects img {
	width: 100%;
	height: auto;
}



/* header_blog */
.header_blog {
	height: 50vh;
	background: url(../img/blog/header_blog.png) no-repeat center top;
	background-size: cover;
	margin-bottom: 5em;
}
.header_blog .logo-nav {
	background-color: rgba(60, 60, 60, 0.45);
}
.all_blogs {
	margin: 50px 70px;
  padding: 50px 60px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.blog_column {
	padding: 0 60px 0 0;
	width: calc(100vw - 30vw - 160px);
	margin-right: 60px;
}
.blog_column ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
}
.blog_post {
		background-color: white;
		padding: 3em 3em;
		margin-bottom: 60px;
}
.blog_post img {
		width: 100%;
}
.blog_post h3 {
		color: rgba(2, 23, 37, 0.5);
		font: 300 3em/1.8em Montserrat, sans-serif;
		text-align: left;
		padding-bottom: 15px;
}
.post_date1 {
		color: #d4af37;
		font: 500 1em/1.8em Montserrat, sans-serif;
		text-align: left;
		padding-bottom: 15px;
}
.post_text1 {
		color: rgba(2, 23, 37, 0.5);
		font: 300 1.2em/1.8em Montserrat, sans-serif;
		text-align: left;
		padding-bottom: 45px;
}


.blogs_menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 60px;
	padding-right: 60px;
	width: calc(100vw - 30vw - 160px);


/* header_about */
.header_about {
	height: 100vh;
	background: url(../img/about/header_about.png) no-repeat center top;
	background-size: cover;
	margin-bottom: 5em;
}



/* header_contacts */
.header_contacts {
	height: 50vh;
	background: url(../img/contacts/header_img.png) no-repeat center top;
	background-size: cover;
	margin-bottom: 5em;
}
