
/* HEADER */
header {
	background: url(../img/Header_bg.png) no-repeat left center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	height: 100vh;
}
header a img {
	height: 100%;
	display: inline-block;
}
.logo-nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1.3em 15%;
	width: 100%;
	background-color: #f3f6f9;
	z-index: 100;
	}
.logo {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: calc(10% - 4px);
}
nav {
	text-align: center;
	display: inline-block;
	width: calc(40% - 4px);
	font: 500 0.7em/1em "Montserrat", sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
	}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li a {
	padding: 0 1.3em;
	color: #aaacaf;
}
nav .button {
	vertical-align: middle;
}
nav a:hover {color: #000; }
.button, .button:not(hover)  {
	display: inline-block;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font: 300 0.7rem/3em 'Montserrat';
	padding: 0 2em;
	border-radius: 4px;
	margin: 0 1rem;
	background: rgb(0, 0, 0);
	transition: 1s;
}
.button:hover {
	background: #26e6e6;
}
.burger-b {
	vertical-align: middle;
	width: calc(5% - 4px);
	padding: 0 1rem;
}

.header_text {
	margin-left: 23vw;
	padding: 23vh 0;
}
.subtitle {
	padding: 0 6px;
}
header h2 {
	font: 100 calc(55px + 2vw)/1.1em 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0 0 0.6rem 4px;
}
header h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

section {
	padding: 0 20%;
}

/* S E C T I O N  1 */
.services {
	padding: 5vh 15%;
	text-align: center;
}
.s-list {
	display: inline-block;
	padding-top: 2rem;
}
.s-list li {
	vertical-align: top;
    width: 230px;
    margin: 0 1em;
    padding: 0 1em;
    display: inline-block;
}
.block {
	line-height: 4rem;
}
.s-list h3 {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font: 700 0.75rem/1.2rem "Montserrat";
}

.flaticon-photo-1 h3:after {
	content: 'NEW';
	color: white;
	font: 300 0.6rem/1rem "Montserrat";
	padding: 0.35rem 0.45rem;
	margin: 0 0.6rem;
	background-color: #26e6e6;
	border-radius: 6px;
}

.s-list p {
	display: inline-block;
	font: 300 0.75rem/1.1rem "Montserrat";
	height: 8em;
	padding: 5px 0;
}
.s-list a, .s-list a:not(:hover) {
	font: 700 0.75rem/2rem "Montserrat";
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 15vh;
	color: #aaacaf;
	transition: 1s;
	display: inline-block;
}
.s-list a:hover {
	color: #26e6e6;
}


/* Section with phone */
.phone {
	text-align: right;
	background-color: #26e6e6;
	position: relative;
	padding: 7em 15%;
}
.phone-img {
		position: relative;
		width: 70%;
		z-index: 1;
}
.phone-img img {
	width: 100%;
}
.screen1 {
	position: absolute;
	background-image: url(../img/phone_screen1.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: perspective(850px) rotate3d(37,21,-278,399deg) skew(11deg);
	width: 80%;
	height: 80%;
	top: -12%;
	left: 26%;
	z-index: 2;
}
.screen1:hover {
		position: absolute;
		background-image: url(../img/phone_screen.png);
		background-size: contain;
		background-repeat: no-repeat;
		transform: perspective(850px) rotate3d(37,21,-278,399deg) skew(11deg);
		width: 80%;
		height: 80%;
		top: -12%;
		left: 26%;
		z-index: 2;
}

.b-prev {
		position: absolute;
		background-image: url(../img/Arrow_pr_hover.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 14%;
		height: 10%;
		top: 62%;
		left: 19%;
		opacity: 0.5;
		z-index: 3;
}
.b-prev:hover {opacity: 1.0;}
.b-next {
		position: absolute;
		background-image: url(../img/Arrow_next_hover.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 13%;
		height: 9%;
		top: 20%;
		left: 65%;
		opacity: 0.5;
		z-index: 3;
}
.b-next:hover {opacity: 1.0;}


.list-box {
		position: absolute;
    top: 7em;
    z-index: 5;
    text-align: left;
    width: 320px;
    right: 15%;
    background-color: white;
    padding-bottom: 3.3rem;
		box-shadow: 0px 8px 28px 1px rgba(6,179,179,1);
}
.list-box li {
	padding: 1rem 1rem;
}
.box {
	margin-left: 1rem;
	display: inline-block;
	width: 70%;
	vertical-align: top;
}
.list-box h3 {
		padding: 0.5rem 2rem 0 0;
		font: 700 0.8rem/1rem 'Montserrat', sans-serif;
	}
.list-box p {
		margin: 0.8rem 0 0 0;
		font: 300 0.85rem/1.2rem 'Montserrat', sans-serif;
}
.phone .button {
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 3.3rem;
	margin: 0;
	padding: 0;
	border-radius: 0;
	bottom: 0;
}



.features {
	background: url(../img/features.png) no-repeat left center;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	z-index: 1;
}
.titles-box {
	text-align: center;
	padding: 7em 30%;
}
.titles-box h2 {
	font: 100 4em/1em 'Montserrat', sans-serif;
	margin-bottom: 2rem;
}
.titles-box p {
	font: 700 1.05em/1.4em 'Montserrat', sans-serif;
	color: #575756;
}
.listik {
	padding: 6rem 15%;
	background-color: #f5f6f8;
}
.listik li {
	vertical-align: top;
	display: inline-block;
	width: calc(23% - 4px);
	padding: 0 2.5em;
}
.listik h3 {
		font: 700 0.75rem/1.2rem "Montserrat", sans-serif;
}
.listik p {
		margin: 1.5rem 0;
		font: 300 0.7rem/1.1rem "Montserrat", sans-serif;
		height: 10em;
}
.listik a, .listik a:not(:hover) {
	font: 700 0.65rem/3rem "Montserrat";
	text-transform: uppercase;
	text-decoration: none;
	color: #aaacaf;
	transition: 1s;
}
.listik a:hover {
	color: #26e6e6;
}

.ipad {
		position: relative;
    padding: 4rem 0 41vh 2vw;
    background-color: #f5f6f8;
}
.wrapper {
	background-color: black;
	height: 39rem;
	text-align: left;
	margin: 2rem 5%;
}
.wrapper h2 {
	padding: 8vh 40vw 0 5vw;
	font: 100 3.5rem/5rem 'Montserrat', sans-serif;
	color: white;
}
.wrapper p {
		padding: 5vh 49vw 6rem 5vw;
    font: 300 0.75rem/1.4rem 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
		color: white;
}
.wrapper a, .wrapper a:not(hover)  {
		display: inline-block;
		min-width: 9rem;
		color: black;
		text-transform: uppercase;
		text-align: center;
		font: 300 0.7rem/3.5em 'Montserrat';
		padding: 0 0.6rem;
		border-radius: 15px;
		margin: 0 0 0 5vw;
		background: #26e6e6;
		transition: 0.5s;
	}
	.wrapper a:hover {
		background: white;
		border-radius: 1px;
	}
.slider {
		position: absolute;
		right: 0vh;
		top: 18em;
		width: 60vw;
    height: 45vw;
		z-index: 1;
		overflow: hidden;
}
.button-slide {
		position: relative;
		background-image: url(../img/Arrow2_pr_hover.png);
		background-size: contain;
		background-color: transparent;
		background-repeat: no-repeat;
		width: 4em;
		height: 4em;
		top: 41%;
		left: 5vw;
		opacity: 0.5;
}
.button-slide:hover {opacity: 1.0;}

.ipad_scr {
		position: absolute;
		background-image: url(../img/ipad.png);
		background-size: contain;
		background-position: right;
		background-repeat: no-repeat;
		right: 0;
		top: 0;
		width: 56vw;
    height: 45vw;
		overflow: hidden;
	}
.screen_ipad {
		position: absolute;
		right: 0;
		top: 2.5vw;
		width: 42.5vw;
    height: 35.5vw;
}
.screen_ipad img {
	width: 100%;
	height: 100%;
}

.platform {
		position: relative;
		padding: 4rem 15%;
		background-color: #f5f6f8;
}
.platform h2 {
	text-align: center;
	text-transform: uppercase;
	font: 700 0.8rem/3rem 'Montserrat', sans-serif;
	color: black;
}
.pp {
		text-align: center;
		padding: 2rem 6rem;
    font: 700 0.8rem/1.4rem 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
	color: black;
}
.platform ul {
	position: relative;
	display: flex;
	text-align: left;
	vertical-align: top;
}
.platform li {
	flex: 2;
	padding: 0 1rem;
}
.platform li div {
	padding: 1.5rem 0 0 1rem;
	display: inline-block;
	width: 70%;
	vertical-align: top;
}
.platform h3 {
		padding: 0;
		font: 700 0.8rem/1rem 'Montserrat', sans-serif;
	}
.platform li p {
		text-align: left;
		padding: 0.8rem 0vw 1rem;
		font: 300 0.85rem/1.2rem 'Montserrat', sans-serif;
}


.citat {
		position: relative;
		padding: 2rem;
		background-color: #f5f6f8;
}
.quotes-list {
	display: flex;
}
.quotes-list li {
	flex: 1;
	background-color: white;
	/*background-image: url(../img/quotes.png);
	background-position: center; */
	width: 23%;
	margin: 0 1rem;
	padding: 1rem 1rem;
	text-align: center;
}
.cit {
		font: 100 1.8rem/2.2rem 'Montserrat', sans-serif;
}
.author {
		font: 700 0.6rem/2.5rem 'Montserrat', sans-serif;
}

/*  GALLERY   */
.gallery {
	height: 72vw;
	background-color: #f5f6f8;
	padding: 2rem 0;
	position: relative;
}
.gallery h2 {
	text-transform: uppercase;
	font: 700 1.6rem/2rem 'Montserrat', sans-serif;
	text-align: center;
}
.gallery-list li {
	position: absolute;
}
.gallery img {
	width: 100%;
	height: 100%;
}
.g1 {
	width: 33vw;
	height: 21vw;
	top: 13vh;
  left: 42vw;
	z-index: 7;
}
.g2 {
	width: 18vw;
	height: 23vw;
	top: 5vh;
	left: 18vw;
	z-index: 6;
}
.g3 {
	width: 60vw;
	height: 12vw;
	top: 33vw;
	left: 19vw;
	z-index: 5;
}
.g4 {
	width: 25vw;
	height: 22vw;
	top: 49vw;
  left: 21vw;
	z-index: 4;
}
.g5 {
	width: 25vw;
	height: 22vw;
	top: 49vw;
  left: 54vw;
	z-index: 3;
}
.g6 {
	width: 12vw;
	height: 28vw;
	top: 24vw;
	left: 0px;
	z-index: 2;
}
.g7 {
	width: 10vw;
	height: 26vw;
	top: 25vw;
	right: 0px;
	z-index: 1;
}
.button-box {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
.gallery-list li:hover .button-box {
	display: block;
}
.button-box:before {
	content: '';
	width: 1px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.button-box .button {
	vertical-align: middle;
}


/* PLANS */
.plans {
		margin: 0;
		padding: 0;
}
.plans .titles-box {
		margin: 3em 15vw;
		padding: 0;
		background-color: white;
}
.list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2em 15vw;
	background-color: #f5f6f8;
}
.list li {
		background-color: #f5f6f8;
		color: black;
		margin-right: 2vw;
		width: 15vw;
		transition: all 1s ease-in;
		padding: 3vw 3vw;
		text-align: center;
}
.list li:last-child {margin-right: 0px;}
.list li:hover {
		background-color: black;
		color: white;
}
.list h3 {
		text-transform: uppercase;
		font: 700 0.65em/1.5em Montserrat, sans-serif;
		padding-bottom: 1em;
}
.price {
		padding-bottom: 2rem;
		font: 900 3em/1.5em Montserrat, sans-serif !important;
}
.list p {
		font: 300 0.75em/1.7em Montserrat, sans-serif;
}
.list a {
		display: inline-block;
		color: white;
		padding: 1em 3em;
		font: 300 0.75em/1em 'Montserrat';
		border-radius: 15px;
		margin: 2em 0;
		background: #26e6e6;
		transition: 0.2s;
}

footer {
		background: url(../img/footer_img.png) no-repeat bottom center;
		height: 69vw;
		position: relative;
		overflow: hidden;
}
footer h2 {
		position: absolute;
		z-index: -1;
		top: 9vw;
		right: 12vw;
		text-align: right;
		color: black;
		text-transform: uppercase;
		font: 900 5em/1.2em Montserrat, sans-serif;
}
.backstage	{
		background-color: #f5f6f8;
		z-index: -2;
		position: absolute;
		width: 100vw;
		height: 80vw;
		bottom: 0;
		left: 0;
}
.wrapper2 {
		position: relative;
		z-index: 1;
		top: 40vw;
		margin: 0 24vw;
		padding: 2vw 2vw;
		display: flex;
		flex-direction: row;
		background-color: black;
		color: white;
}
.footer-logo {
	 	width: 2vw;
		height: 2vw;
		margin-right: 2vw;
}
.foo_nav a, .copy, .social a {
		opacity: 0.8;
		color: white;
		text-transform: uppercase;
		font: 300 0.65em/1.2em Montserrat, sans-serif;
}
.wrapper2 li {
		padding-bottom: 1.5em;
}
.wrapper2 ul {
		margin-right: 3vw;
}
.social {
	text-align: right;
}
.copy {
		text-align: right;
		padding-bottom: 7vw;
}
.copy img {
		padding-top: 5px;
		display: inline-block;
		width: 9vw;
		height: 3vw;
}
.soc_icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 3vw;
}
.soc_icon div {
		opacity: 0.8;
		margin-top: 1vw;
		margin-left: 2vw;

}
